.container {
  display: flex;
  flex-direction: row;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 1.2vw;
}

.horizontalWrapper {
  display: flex;
  flex-direction: row;
  gap: 1.2vw;
}
