.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--color-container);
  width: 57vw;
  gap: 5px;
}

.container p {
  margin: 0;
}

.horizontalWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.description {
  color: var(--color-text);
  font-size: 1.1rem;
}

.downloadIcon {
  width: 28px;
  height: 28px;
  background: transparent;
  cursor: pointer;
}

.amount {
  color: var(--color-secondary-text);
  font-size: 1.5rem;
  font-weight: bold;
}
