.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.horizontalWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.8vw;
    align-items: center;
    cursor: pointer;
}

.sectionName {
    color: var(--color-sub-text);
    font-size: 1rem;
}

.description {
    color: var(--color-text);
    font-size: 0.9rem;
}

.icon {
    width: 23px;
    height: 23px;
}