.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-container);
  padding: 20px;
}

.verticalWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 180px;
}

.id {
  color: var(--color-secondary-text);
  font-size: 1.1rem;
}

.name {
  color: var(--color-sub-text);
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  color: var(--color-sub-text);
}

.amountContainer {
  background-color: var(--color-secondary-container);
  padding: 5px;
  color: var(--color-text);
  border-radius: 4px;
  width: 75px;
}

.amount {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
