.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
    background: transparent;
    width: 100%;
    height: 5vh;
    gap: 0.8vw;
}

.icon {
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.icon:hover {
    background-color: var(--color-hover);
}