.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50%;
  align-items: center;
  padding: 15px 0 15px 0;
  background-color: var(--color-container);
  width: 18vw;
}

.verticalWrapper {
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 19px;
  height: 19px;
  background: transparent;
}

.amount {
  color: var(--color-text);
  font-size: 1rem;
  font-weight: bold;
}

.description {
  color: var(--color-secondary-text);
  font-size: 0.9rem;
  font-style: italic;
}

.donut {
  width: 19px;
  height: 19px;
  background: transparent;
}

.percentage {
  color: var(--color-secondary-text);
  font-size: 0.9rem;
  font-style: italic;
}
