.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: auto;
}

.verticalWrapperLeft {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

.mainText {
  color: var(--color-text);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.subText {
  color: var(--color-secondary-text);
  font-size: 0.9rem;
  margin: 0;
}

.verticalWrapperRight {
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}

.reportButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--color-text);
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--color-button);
  border: none;
  width: 250px;
  height: 40px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: -25px;
  border-radius: 5px;
}

.downloadIcon {
  width: 19px;
  height: 19px;
  background: transparent;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
}

.downloadText {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.horizontalWrapperRight {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-end;
}

.icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--color-hover);
}
