.container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 25vw;
    min-width: 150px;
}

.mainText {
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 5px;
}

.subText {
    color: var(--color-secondary-text);
    font-size: 0.9rem;
    margin: 0;
}