.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--color-container);
  width: 27.9vw;
  gap: 0px;
}

.container p {
  margin: 0;
}

.horizontalWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 1.1rem;
  color: var(--color-text);
}

.icon {
  width: 26px;
  height: 26px;
  background: transparent;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.revenue {
  color: var(--color-secondary-text);
  font-size: 1.2rem;
}

.description {
  color: var(--color-text);
  font-size: 1rem;
}
