.container {
  display: flex;
  flex-direction: column;
  width: 25.5vw;
  gap: 10px;
}

.container p {
  margin: 0;
}

.horizontalWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  align-items: center;
  background-color: var(--color-container);
}

.title {
  font-size: 1rem;
  color: var(--color-text);
}

.transactionsIcon {
  width: 30px;
  height: 30px;
  background: transparent;
}
